@charset "utf-8";

/* CSS Document */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

/*让这些的标签内外边距都是0*/
fieldset,
img {
    border: none;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Microsoft YaHei', 微软雅黑,  'Microsoft JhengHei';
}

input[type=text]:focus {
    outline: none;
}

select,
input {
    vertical-align: middle;
}

/*图片居中  */
select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

img {
    vertical-align: middle;
    border: 0 none;
}

body {
    color: #666;
    font: 12px '微软雅黑';
    margin: auto;
    min-width: 1280px;
    /* 设置全局的文字 颜色 字号  字体  */
}

a {
    color: #515151;
    text-decoration: none;
}

a:hover {
    color: #333;
}


/* 常用代码  */
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}
body {
    max-width: 1920px;
    margin: auto;
}

.auto {
    display: block;
    max-width: 100%;
}

.head {
    position: relative;
    overflow: hidden;
}

.head ul {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-left: 73px;
    height: 80px;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
}
.head ul li {
    width: 8%;
    line-height: 100px;
    display: inline-block;
    white-space: nowrap;
}

.head ul li a {
    display: block;
    height: 100%;
}